div {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    text-align: justify;
    text-justify: inter-word;
  }

h1 {
    margin-bottom: 50px;
}

nav {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

figcaption {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: smaller;
}

section {
    margin-top: 50px;
}

.row {
    display: flex;
    margin-top: -80px;
    margin-bottom: -90px;
  }
  
  .column {
    flex: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20 px;
  }

  footer {
      margin-top: 50px;
  }